@model MgebroStore.Models.SortingModel

    <div class="mgebro-up-down">
        <a href="?SortOrder=@Model.Name">
            <i class="fa fa-caret-up"></i>
        </a>
        <a href="?SortOrder=@Model.Name_Desc">
            <i class="fa fa-caret-down"></i>
        </a>
    </div>
        
    